{% extends 'chart/main.html' %}
{% load static %}
{% load item_extras %}
{% block content %}

<h3>Golden_row</h3>
    <div class="chart-context" id="test"> 
        <img id="chart-graph">
    </div>
    <div class="d-flex justify-content-between">
        {% if code == f_code %} 
            <span></span>
        {% else %}
            <input type="button" class="btn btn-dark" id="prev_btn" value="Back" onclick="clickBack()" />
        {% endif %}
        {% if code == l_code %} 
            <span></span>
        {% else %}
            <input type="button" class="btn btn-dark" id="next_btn" value="Next" onclick="clickNext()" />
        {% endif %}
    </div>
<script type="text/javascript">
    document.getElementById("chart-graph").src = "{% static 'images/chart_graph/Golden_cross/継続/'|add:code %}";
    function clickNext(){
        document.location.href = "{% url 'Golden_row' index|add:1 %}";
    }
    function clickBack(){
        document.location.href = "{% url 'Golden_row' index|add:-1 %}";
    }
</script>
{% endblock content %}